:root {
  --color-primary: #40D293;
  --color-text: #000000;
  --color-gray-light: #e4e4e4;
  --color-caption: #747474;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;

  width: 100%;
  min-width: 100%;

  min-height: 100%;
  min-height: 100dvh;
}

html {
  background: #ffffff;
}

body {
  width: 100%;

  min-height: 100dvh;

  margin: 0;

  background: #ffffff;

  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;

  font-family: "SUIT", sans-serif;
}

button,
input,
textarea,
select,
optgroup,
option {
  font-family: inherit;
}